/* LAYOUT CONTAINER */
.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background: #f5f7fa;
}

/* body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
} */


/*  SIDEBAR  */
.sidebar {
  width: 250px;
  min-height: 100vh;
  padding: 20px;
  background: #041e53;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-title {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.logo {
  width: 120px;
  margin-left: 17px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* vertical nav links */
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav-links a {
  display: flex;
  font-weight: 400;
  padding: 10px 14px;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s ease;
}

.icon {
  width: 40px;
  height: 25px;
}

.nav-links a:hover,
.nav-links .active {
  background: #053493;
}

/* MAIN AREA (Navbar + Page content) */
.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* === NAVBAR === */
.navbar {
  width: 100%;
  padding: 15px 20px;
  background: #ffffff;
  border-bottom: 1px solid #e2e8f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  font-size: 1.2rem;
  color: #2d3748;
  margin: 0;
}

.navbar-user {
  font-size: 1.3rem;
  margin: 0;
}

/* logout button */
.logout-btn {
  font-size: 1.1rem;
  padding: 1rem;
  border: none;
  border-radius: 6px;
  background: #e53e3e;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}
.logout-btn:hover {
  background: #c53030;
}

/* === PAGE OUTLET CONTENT === */
.dashboard-content {
  padding: 20px;
}

/* === RESPONSIVE BREAKPOINT === */
@media (max-width: 768px) {
  .dashboard-layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    min-height: auto;
    flex-direction: row;
    overflow-x: auto;
    gap: 10px;
  }

  .nav-links {
    flex-direction: row;
    gap: 10px;
  }

  .navbar {
    flex-direction: column;
    gap: 8px;
    text-align: center;
  }
}


@media (max-width: 480px) {
  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
}