.thoughts-holder {
    margin: 15px;
}

/* Parent wrapper flex behavior */
.thoughts-container {
  display: flex;
  flex-direction: column;  
}

/* Medium screens and above */
@media (min-width: 768px) {
  .thoughts-container {
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
}